body{
    background-image: url("/static/img/back.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 0;
}

.logo{
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    width: 100vw;
    background-color: black;
    box-shadow: 0px 10px 10px -1px rgba(0,0,0,1);
}

.logoimg{
    display: inline-block;
    width: 15vw;
    margin: 5px;
}

.interface_holder{
    position: absolute;
    top: 10vw;
    text-align: center;
}

.messages{
    display: block;
    width: 90vw;
    height: 50vh;
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    overflow: auto;
    background-color: rgba(255,255,255,0.4);
    padding: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
    transition: 0.3s;
    margin-bottom: 10px;
}

.messages:hover{
    box-shadow: 0px 0px 15px 5px rgba(30,115,189,1);
    border: 1px solid rgba(30,115,189,1);
}

.actual_message{
    position: relative;
    display: block;
    width: 90vw;
    height: 5vh;
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    overflow: visible;
    background-color: rgba(255,255,255,0.4);
    padding: 5px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}

.actual_message:hover{
    box-shadow: 0px 0px 15px 5px rgba(30,115,189,1);
    border: 1px solid rgba(30,115,189,1);
}

.icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
    transition: 0.3s;
}

.icon:hover{
    height: 8vh;
    top: -0.5vh;
    right: -0.5vh;
}