<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <!-- load jquery and socket.io -->
    <script src="/static/js/query-3.5.1.min.js"></script>
    <script src="/static/js/socket.io.js"></script>

    <!-- load css -->
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">

</head>

<body>
    <div id="logo">
        logo here!
    </div>

    <div id="messages">
        messages here
    </div>

    <div id="actual message">
        type here!
    </div>

    <!-- load controller (own script) -->
    <script src="/static/js/controller.js"></script>
</body>

</html>