<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <!-- jquery és socket.io betöltése -->
    <script src="/static/js/query-3.5.1.min.js"></script>
    <script src="/static/js/socket.io.js"></script>

    <!-- stíluslapok betöltése -->
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">

</head>

<body>
    <!-- A logó helye. Ha lenne menu, itt  egy hely neki! -->
    <div id="logo" class="logo">
        <img src="/static/img/logo.png" class="logoimg">
    </div>

    <!-- az üzenetek tárolója -->
    <div id="messages">
        messages here
    </div>

    <!-- a felhasználói input tárolója -->
    <div id="actual message">
        type here!
    </div>

    <!-- saját script betöltése -->
    <script src="/static/js/controller.js"></script>
</body>

</html>