<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- jquery és socket.io betöltése -->
    <script src="/static/js/query-3.5.1.min.js"></script>
    <script src="/static/js/socket.io.js"></script>

    <!-- stíluslapok betöltése -->
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">

</head>

<body>
    <input id="username" style="display: none;">
    <!-- A logó és a menü helye -->
    <div id="logo" class="logo">
        <!-- A logó -->
        <img src="/static/img/logo.png" class="logoimg">

        <div id="menu" class="menu">
            <!-- A felhasználó belépés előtt itt adja meg a nevét -->
            <input id="uname" type="text" size="10" class="inputbox" placeholder="::username::" style="text-align: center; background-color: rgba(255,255,255,0.7);">
            <!-- belépés gombja -->
            <button id="login" class="positivebutton">belépés</button>
            <!-- kilépés gombja --->
            <button id="logout" class="negativebutton">kilépés</button>
        </div>

    </div>

    <div id="user_interface" class="interface_holder">

        <div class="messages">
            <!-- a felhasználók tárolója -->
            <div id="users" class="users">
                Lobby:
                <!-- ide pakolgatjuk a bejelentkezett felhasználók neveit -->
            </div>

            <!-- az üzenetek tárolója -->
            <div id="messages" class="textflow">
                <!-- ide pakolgatjuk az üzeneteket -->
            </div>

        </div>

        <!-- a felhasználói input tárolója -->
        <div id="actual message" class="actual_message">
            <!-- az üzenetküldés ikonja -->
            <img src="/static/img/send.png" class="icon" id="send_icon">
            <!-- A hátralévő karakterek - ez önkényesen 40 lesz -->
            <p id="counter">(40)</p>
            <!-- a felhasználó ide gépeli az üzenetet -->
            <input type="text" id="ac_message" size="40">
        </div>

    </div>

    <!-- saját script betöltése -->
    <script src="/static/js/controller.js"></script>
</body>

</html>